.container {
  position: absolute;
  bottom: var(--margin);
  left: var(--margin);
  right: var(--margin);
  background: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 15px;
  border: 1px solid rgba(255 255 255 / 20%);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .container {
    background: var(--background-color);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}

.actionsContainer {
  display: flex;
  justify-content: center;
}
