.container {
  position: absolute;
  bottom: var(--margin);
  left: var(--margin);
  right: var(--margin);
  background: rgba(255 255 255 / 100%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 15px;
}

.mainTitle {
  text-transform: uppercase;
  color: var(--calcite-ui-brand);
  margin-right: 10px;
  font-size: medium;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.actionsContainer {
  display: inline-flex;
}

.borderLeft {
  border-left: 1px solid gray;
}
