.chartContainer {
  flex: 1;
}

:global .tooltip {
  position: absolute;
  font-size: var(--chart-font-size);
  max-width: 70%;
  background: rgba(0 0 0 / 80%);
  padding: 5px;
  border-radius: var(--border-radius);
  min-width: 250px;
  pointer-events: none;
  display: none;
}

:global .country {
  font-weight: bold;
}

:global .emphasized {
  color: var(--calcite-ui-brand);
}

:global .thumb-indicator {
  stroke: rgba(255 255 255 / 70%);
  stroke-dasharray: 6 2;
  pointer-events: none;
}

:global .thumb {
  fill: white;
  stroke: var(--calcite-ui-text-2);
  cursor: pointer;
}

svg {
  font-size: var(--chart-font-size);
  color: var(--calcite-ui-text-1);
  font-family: var(--calcite-sans-family);
}

text {
  fill: var(--calcite-ui-text-1);
}

:global .tick {
  font-size: var(--mobile-chart-font-size);
  color: var(--calcite-ui-text-1);
  font-family: var(--calcite-sans-family);
}

:global .mouse-indicator {
  stroke: var(--calcite-ui-text-2);
  stroke-width: 1;
  stroke-dasharray: 4;
  opacity: 0;
}

:global .chartArea {
  filter: drop-shadow(0 0 12px black);
}

@media (max-width: 550px) {
  svg {
    font-size: var(--mobile-chart-font-size);
  }
  :global .tooltip {
    font-size: var(--mobile-chart-font-size);
    display: none;
  }

  :global .tick {
    font-size: 11px;
  }
}
