.container {
  margin-top: 20px;
  display: flex;
}

.countrySelection {
  flex: 1;
  border-right: 1px solid #ddd;
  padding: 0 20px;
  overflow: auto;
  max-width: 250px;
}

.countryChart {
  flex: 2;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 40vh;
}

.headerChart {
  display: flex;
  justify-content: flex-end;
  min-height: 40px;
}

.label {
  cursor: pointer;
}

@media (max-width: 550px) {
  .container {
    flex-direction: column;
  }

  .countrySelection {
    border-right: none;
    max-width: revert;
  }
}
