.container {
  margin-top: 20px;
  display: flex;
}

.countrySelection {
  flex: 1;
  border-right: 1px solid #ddd;
  padding: 0 20px;
  overflow: auto;
  max-width: 250px;
}

.countryChart {
  flex: 2;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 25vh;
}

.headerChart {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.label {
  cursor: pointer;
}

.legendInfo {
  font-size: var(--chart-font-size);
}

@media (max-width: 550px) {
  .container {
    flex-direction: column;
  }

  .countrySelection {
    border-right: none;
    max-width: revert;
  }

  .legendInfo {
    font-size: var(--mobile-chart-font-size);
    display: none;
  }
}
