@import 'https://js.arcgis.com/4.22/@arcgis/core/assets/esri/themes/dark/main.css';

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: var(--calcite-sans-family);
  color: var(--calcite-ui-text-1);
}

.calcite-theme-dark,
:root {
  --calcite-ui-brand: #00d96d;
  --calcite-ui-brand-hover: #04532c;
  --border-radius: 10px;
  --box-shadow: 0 0 12px rgb(0 0 0 / 100%);
  --margin: 15px;

  --mobile-chart-font-size: 12px;
  --chart-font-size: 14px;
  --calcite-ui-text-3: rgb(230, 230, 230);
}

.esri-legend.esri-widget {
  background: rgba(50 50 50 / 80%);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: 1px solid rgba(255 255 255 / 20%);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .esri-legend.esri-widget {
    background: rgba(0 0 0 / 30%);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}
