@import 'https://js.arcgis.com/4.22/@arcgis/core/assets/esri/themes/light/main.css';

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: var(--calcite-sans-family);
  color: var(--calcite-ui-text-2);
}

:root {
  --calcite-ui-brand: #08a657;
  --calcite-ui-brand-hover: #04532c;
}
