.mapContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

:global .esri-view-surface::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background: radial-gradient(ellipse at center, transparent 70%, rgba(0, 0, 0, 0.7) 100%);
}
